.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: left;
  color: white;
}

.movie h3 {
  color: black;
  margin: 1rem;
  font-size: 1rem;
}

.movie span {
  font-weight: normal;
  color: black;
  margin: 1rem;
  font-size: 1rem;
}

.movie p {
  color: black;
  margin: 1rem;
  font-size: 1rem;
}

.quantity {
  border: 3px solid green;
}
