.form {
  margin: 1rem 0;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  color: black;
}

.form input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.form input:focus {
  outline: none;
  border-color: #44AEDB;
}

.button {
    background-color: #44AEDB; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: black;
    color: white;
  }