.container {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: white;
  color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px black solid;
  font-weight: bold;
}

.container h2 {
  color: black;
  margin: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 960px) {
  .container {
    display: flex;
    justify-content: center;
  }
}
